body {
  margin: 0;
  padding: 8px;
}

#page {
  display: block;
  background-color: blue;
}

.content {
  float: left;
  padding: 8px;
  border: 1px solid;
  border-radius: 8px;
}

.control {
    margin: 8px 0;
}

.debug {
  margin-left: 8px;
  padding: 8px;
  border: 1px solid;
  border-radius: 8px;
  float: left;
}

.elem-debug {
  margin-top: 8px;
}

table {
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th, td {
  text-align: left;
}

#mycanvas {
  border: 1px solid;
}

#contextmenu {
  display: none;
  background-color: green;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#contextmenu ul{
  margin: 0px;
  padding: 0px;
}

#contextmenu li{
  background-color: #eee;
  list-style: none;
}

#contextmenu li:hover{
  background-color: #ccc;
}
