body {
  margin: 0;
  padding: 8px;
}

.content {
  float: left;
  padding: 8px;
  border: 1px solid;
  border-radius: 8px;
  background-color: #fafafa;
}

.canvas {
  background-color: white;
}

.control {
    margin: 8px 0;
}

.control_main {
  float: left;
}

.advance_comeback {
  text-align: right;
}

.debug {
  margin-left: 8px;
  padding: 8px;
  border: 1px solid;
  border-radius: 8px;
  float: left;
}

.elem-debug {
  margin-top: 8px;
}

.quant_rect_buffer{
  padding-bottom: 8px;
  border-bottom: 1px solid;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

th, td {
  text-align: left;
}

#mycanvas {
  border: 1px solid;
}

#contextmenu {
  display: none;
  width: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #eee;
}

.context-menu-item label{
  padding-left: 20px;
  margin-top: 40px;
}

.context-menu-item:hover {
  background-color: #ccc;
}
